.dot {
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.rarityLo {
  background: var(--rarityLow);
}
.rarityMid {
  background: var(--rarityMed);
}
.rarityHi {
  background: var(--rarityHigh);
}
.dot:hover {
  filter: brightness(1.1);
}
